
<% content_for(:title, t('.title')) %>

<div class="w-[90%] max-w-[600px] py-10 px-8 rounded-xl text-center mx-auto relative">
  <h1 class="text-3xl font-semibold text-black mb-10 leading-snug">ギフト相手の追加</h1>

  <%= render 'shared/error_messages', object: @gift_person %>
  
  <!-- 新規作成モード用のフォーム -->
  <div data-controller="gift-person-form" 
       data-gift-person-form-new-mode-value="true"
       data-gift-person-form-auto-save-enabled-value="true">
    <%= render 'form', gift_person: @gift_person, new_mode: true %>
  </div>
</div>
