<% flash_messages = flash.map { |type, message| { type: type, message: message } } %>
<% if flash_messages.any? %>
  <div data-controller="toast"
       data-toast-messages-value="<%= json_escape(flash_messages.to_json) %>"></div>
<% end %>
