<footer class="bg-orange-200 py-8 px-4 mt-12 w-full">
  <div class="flex justify-center items-center text-center">
    <p class="text-gray-700 font-medium text-sm md:text-base">
      Copyright © 2025 思い出ギフト
    </p>
  </div>
</footer>
