<%= render 'shared/error_messages', object: @gift_record %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= render 'form', gift_record: @gift_record %>
      
    </div>
  </div>
</div>
