<% content_for(:title, t('.title')) %>

<div class="w-[90%] max-w-[600px] py-10 px-[30px] rounded-xl text-center mx-auto relative">
  <h1 class="text-3xl font-semibold text-black mb-10 leading-snug"><%= t('.title') %></h1>

  <%= render 'form', gift_record: @gift_record, form_context: :received %>
</div>
